*{
	margin: 0;
	padding: 0;
}
.main{
	width: 100%;
	height: 100vh;
	background-color: black;
	background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/1.jpg);
	background-size: cover;
	background-position: center;
}


.navbar{
	padding: 40px;
	width: 1200px;
	margin: auto;
	height: 75px;
	display: flex;
	justify-content: space-between;
}

.menu ul li{
	display: inline-block;
	padding: 0 35px;
	list-style: none;
	font-size: 14px;
	margin-top: 13px;

}

.menu ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	transition: 0.5s ease-in-out ;

}

.menu ul li a:hover{
	color: orange;
}

.logo .icon{
	font-size: 40px;
	color: orange;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 39px;
    background: transparent;
    border: 1px solid #ff7200;
    color: white;
    border-right: none;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
	float: left;
	outline: none;
	padding: 0 10px;
}

.btn{
    width: 100px;
    height: 41px;
    background: #ff7200;
    border: 2px solid #ff7200;
    color: #fff;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn:hover{
	color: black;
}


.content{
	width: 1200px;
    color: #fff;
	margin: auto;
	margin-top: 90px;
	position: relative;

	
}
.content h1{
	font-size: 60px;
	color: white;
}
.content h1 span{
	color: #ff7200;
	font-size: 1.3em;
}

.content p{
	font-size: 20px	;
	line-height: 2;
	letter-spacing: 1.2px;
}


.content .btn1{
	width: 150px;
	height: 40px;
	font-size: 25px;
	font-weight: 300;
	margin-top: 20px;
	background-color: #ff7200;
	border:none;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}

.content .btn1:hover{
	background-color: #fff;
}


.form{
	width: 250px;
	height: 380px;
	position: absolute;
	right: 0;
	top: -20px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 10px;
	padding: 25px;

}

.form h2{
	width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}


.form input{
	height: 35px;
	width: 240px;
	border: none;
	color: #fff;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #ff7200;
	/* padding: 2px; */
	margin-top: 30px;

	font-size: 14px;

}
::placeholder{
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.form .btn2{
	width: 240px;
}


.form .btn2 a{
	text-decoration: none;
	color: black;
	font-size: 19px;
	font-weight: 700;
}

.form .link{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
	line-height: 1.2;
}

.form .link a{
	text-decoration: none;
	color: #ff7200;
}


.form .liw{
	text-align: center;
	font-size:15px;
	padding-top: 15px;
	padding-bottom: 10px;
}


.icons a{
	color: #fff;
	text-decoration: none;

}
.icons ion-icon{
	color: #fff;
	font-size: 30px;
	padding-left: 14px;
	transition: 0.3s ease;

}
.icons ion-icon:hover{
	color: #ff7200;
}

